# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd


checkpoints/
hp_search/checkpoints/
experiments/checkpoints/
*.pt
*.pth

# W&B local run cache
wandb/

# Machine-specific scripts
activate_env.sh

experiments/

# Misc
*.log
*.csv
*.h5
